.field > span {
  display: block;
}

.database-info-container {
  display: flex;
  justify-content: space-around;
}

.connection-indicator {
  margin-top: 20px;
}

.database-info-container .field {
  margin-bottom: 30px;
}
